<div class="middle-box text-center loginscreen animated fadeInDown" ng-controller="loginCtrl">
    <div>
        <div>
            <h1 class="logo-name">IN+</h1>
        </div>
        <h3>Welcome to IN+</h3>
        <p>Perfectly designed and precisely prepared admin theme with over 50 pages with extra new web app views.</p>
        <p>Login in. To see it in action.</p>
        
        <!-- Mensagem de erro geral -->
        <div ng-if="errors.general" class="alert alert-danger">
            <i class="fa fa-exclamation-triangle"></i> {{ errors.general }}
        </div>
        
        <form class="m-t" role="form" name="loginForm" ng-submit="submitLogin()" novalidate>
            <div class="form-group" ng-class="{'has-error': errors.email}">
                <input type="email" 
                       class="form-control" 
                       placeholder="Email" 
                       ng-model="credentials.email"
                       required>
                <span ng-if="errors.email" class="help-block text-left">
                    <i class="fa fa-exclamation-circle"></i> {{ errors.email }}
                </span>
            </div>
            <div class="form-group" ng-class="{'has-error': errors.password}">
                <input type="password" 
                       class="form-control" 
                       placeholder="Password" 
                       ng-model="credentials.password"
                       required>
                <span ng-if="errors.password" class="help-block text-left">
                    <i class="fa fa-exclamation-circle"></i> {{ errors.password }}
                </span>
            </div>
            <button type="submit" 
                    class="btn btn-primary block full-width m-b" 
                    ng-disabled="loading || loginForm.$invalid">
                <span ng-if="!loading">
                    <i class="fa fa-sign-in"></i> Login
                </span>
                <span ng-if="loading">
                    <i class="fa fa-spinner fa-spin"></i> Entrando...
                </span>
            </button>

            <a ui-sref="forgot_password"><small>Forgot password?</small></a>
            <p class="text-muted text-center"><small>Do not have an account?</small></p>
            <a class="btn btn-sm btn-white btn-block" ui-sref="register">Create an account</a>
        </form>
        <p class="m-t"> <small>Inspinia we app framework base on Bootstrap 3 &copy; 2014</small> </p>
    </div>
</div>