<div class="middle-box text-center loginscreen animated fadeInDown" ng-controller="registerCtrl">
    <div>
        <div>
            <h1 class="logo-name">IN+</h1>
        </div>
        <h3>Register to IN+</h3>
        <p>Create account to see it in action.</p>
        
        <!-- Mensagem de erro geral -->
        <div ng-if="errors.general" class="alert alert-danger">
            <i class="fa fa-exclamation-triangle"></i> {{ errors.general }}
        </div>
        
        <form class="m-t" role="form" name="registerForm" ng-submit="submitRegister()" novalidate>
            <!-- Nome -->
            <div class="form-group" ng-class="{'has-error': errors.name}">
                <input type="text" 
                       class="form-control" 
                       placeholder="Nome Completo" 
                       ng-model="user.name"
                       required
                       minlength="3"
                       maxlength="100">
                <span ng-if="errors.name" class="help-block text-left">
                    <i class="fa fa-exclamation-circle"></i> {{ errors.name }}
                </span>
            </div>
            
            <!-- Email -->
            <div class="form-group" ng-class="{'has-error': errors.email}">
                <input type="email" 
                       class="form-control" 
                       placeholder="Email" 
                       ng-model="user.email"
                       required>
                <span ng-if="errors.email" class="help-block text-left">
                    <i class="fa fa-exclamation-circle"></i> {{ errors.email }}
                </span>
            </div>
            
            <!-- Senha -->
            <div class="form-group" ng-class="{'has-error': errors.password, 'has-warning': errors.passwordWarning}">
                <input type="password" 
                       class="form-control" 
                       placeholder="Senha (mín. 8 caracteres)" 
                       ng-model="user.password"
                       required
                       minlength="8">
                <span ng-if="errors.password" class="help-block text-left">
                    <i class="fa fa-exclamation-circle"></i> {{ errors.password }}
                </span>
                <span ng-if="errors.passwordWarning" class="help-block text-left text-warning">
                    <i class="fa fa-info-circle"></i> {{ errors.passwordWarning }}
                </span>
                <small class="help-block text-left text-muted">
                    A senha deve conter: mínimo 8 caracteres, 1 maiúscula, 1 minúscula e 1 número
                </small>
            </div>
            
            <!-- Confirmar Senha -->
            <div class="form-group" ng-class="{'has-error': errors.confirmPassword}">
                <input type="password" 
                       class="form-control" 
                       placeholder="Confirmar Senha" 
                       ng-model="user.confirmPassword"
                       required>
                <span ng-if="errors.confirmPassword" class="help-block text-left">
                    <i class="fa fa-exclamation-circle"></i> {{ errors.confirmPassword }}
                </span>
            </div>
            
            <!-- Termos -->
            <div class="form-group" ng-class="{'has-error': errors.agreeTerms}">
                <div class="checkbox i-checks">
                    <label> 
                        <input type="checkbox" ng-model="user.agreeTerms" required>
                        <i></i> Concordo com os termos e políticas 
                    </label>
                </div>
                <span ng-if="errors.agreeTerms" class="help-block text-left">
                    <i class="fa fa-exclamation-circle"></i> {{ errors.agreeTerms }}
                </span>
            </div>
            
            <!-- Botão de Registro -->
            <button type="submit" 
                    class="btn btn-primary block full-width m-b" 
                    ng-disabled="loading || registerForm.$invalid">
                <span ng-if="!loading">
                    <i class="fa fa-user-plus"></i> Registrar
                </span>
                <span ng-if="loading">
                    <i class="fa fa-spinner fa-spin"></i> Processando...
                </span>
            </button>

            <p class="text-muted text-center"><small>Já possui uma conta?</small></p>
            <a class="btn btn-sm btn-white btn-block" ui-sref="logins">Login</a>
        </form>
        <p class="m-t"> <small>Inspinia we app framework base on Bootstrap 3 &copy; 2014</small> </p>
    </div>
</div>