<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu" id="side-menu">
            <li class="nav-header">

                <div class="profile-element" uib-dropdown>
                    <img alt="image" class="img-circle" src="img/Ricardo_Small.jpg"/>
                    <a uib-dropdown-toggle href>
                            <span class="clear">
                                <span class="block m-t-xs">
                                    <strong class="font-bold">Ricardo C. Grangeiro</strong>
                             </span>
                                <span class="text-muted text-xs block">Secretário da Música <b class="caret"></b></span>
                            </span>
                    </a>
                    <ul uib-dropdown-menu class="animated fadeInRight m-t-xs">
                        <li><a ui-sref="app.profile">Perfil</a></li>
                        <li><a ui-sref="app.contacts">Contatos</a></li>
                        <li><a ui-sref="mailbox.inbox">Caixa email</a></li>
                        <li class="divider"></li>
                        <li><a ui-sref="login">Sair</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    IN+
                </div>
            </li>
            <li ng-class="{active: $state.includes('dashboards')}">
                <a ui-sref="dashboards.dashboard_2"><i class="fa fa-th-large"></i> <span class="nav-label">{{ 'Dashboard' | translate }}</span> </a>                
            </li>

            <li ng-class="{active: $state.includes('mocidade')}">
                <a href="#"><i class="fa fa-child"></i> <span class="nav-label">{{ 'MOCIDADE' | translate }}</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level" ng-class="{in: $state.includes('charts')}">
                    <li ui-sref-active="active"><a ui-sref="mocidade.auxiliares">Auxiliares de Jovens</a></li>
                    <li ui-sref-active="active"><a ui-sref="mocidade.visitas">Visitas Mocidade</a></li>
                    <li ui-sref-active="active"><a ui-sref="charts.chartjs_chart">Meninos / Moços</a></li>
                    <li ui-sref-active="active"><a ui-sref="charts.chartjs_chart">Meninas / Moças</a></li>
                </ul>
            </li>
           
            <li ng-class="{active: $state.includes('admin')}">
                <a href="#"><i class="fa fa-files-o"></i> <span class="nav-label">{{ 'ADMIN' | translate }}</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('admin')}">
                    <li ui-sref-active="active"><a ui-sref="admin.search_results">Congregações</a></li>
                    <li><a ui-sref="lockscreen">Membros</a></li>
                    <li><a ui-sref="errorOne">Ministério</a></li>                    
                </ul>
            </li>
            <li ng-class="{active: $state.includes('tables')}"> 
                <a href="#"><i class="fa fa-file-pdf-o"></i> <span class="nav-label">{{ 'RELATORIOS' | translate }}</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('tables')}">
                    <li ui-sref-active="active"><a ui-sref="tables.static_table">Recitativos</a></li>
                    <li ui-sref-active="active"><a ui-sref="tables.data_tables">Visitas Realizadas</a></li>
                    <li ui-sref-active="active"><a ui-sref="tables.foo_table">Meninos (as)</a></li>
                    <li ui-sref-active="active"><a ui-sref="tables.nggrid">Jovens</a></li>
                </ul>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="downloads"><i class="fa fa-download"></i> <span class="nav-label">{{ 'DOWNLOADS' | translate }}</span><span class="label label-info pull-right">32</span></a>
            </li>
            <li class="landing_link">
                <a ui-sref="landing"><i class="fa fa-sign-out"></i> <span class="nav-label">{{ 'LANDING' | translate }}</span></a>
            </li>
        </ul>

    </div>
</nav>